@import "../../../styles/variables";

.toggle {
  opacity: 0;
  transform: translateY(2rem);

  .checkbox{
    position: relative;
    display: inline-block;

    &:after, &:before{
      font-family: FontAwesome;
      font-feature-settings: normal;
      font-kerning: auto;
      font-language-override: normal;
      font-stretch: normal;
      font-style: normal;
      font-synthesis: weight style;
      font-variant: normal;
      font-weight: normal;
      text-rendering: auto;
    }

    &:after{
      content: '\f0eb';
      color: #fff;
      position: relative;
      right: 1.35rem;
      bottom: .5rem;
    }
    &:before{
      content: '\f186';
      position: relative;
      left: 1.35rem;
      bottom: .5rem;
      color: #fff;
      z-index: 1;
    }

    input:checked + label{
      background: var(--color-grey-4);
    }

    label{
      width: 3.5rem;
      height: 1.8rem;
      background: var(--color-primary);
      position: relative;
      display: inline-block;
      border-radius: 1.5rem;
      transition: all .4s;

      &:after{
        content: '';
        position: absolute;
        width: 2rem;
        height: 2rem;
        border-radius: 100%;
        left: -.05rem;
        top: -.1rem;
        z-index: 2;
        background: var(--color-grey-1);
        transition: all .4s;
      }
    }

    input{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 5;
      opacity: 0;
      cursor:pointer;

      &:checked + label{
        &:after{
          left: 1.65rem;
        }
      }
    }
  }

  @media screen and (min-width: $size-screen-s) {
    opacity: 1;
    transform: translateY(0);
  }
}
