@import "../../styles/variables.scss";

.header {
  position: fixed;
  z-index: 10;
  top: 20px;
  right: 20px;
  border-radius: 50%;
  border: 1px solid var(--color-grey-4);
  background: var(--color-dark);

  &.open {
    .burger-menu span {
      &:nth-child(1) {
        transform: rotate(45deg);
        top: 50%;
        left: calc(25% + 2px);
      }

      &:nth-child(2) {
        width: 0;
        opacity: 0;
      }

      &:nth-child(3) {
        transform: rotate(-45deg);
        top: 50%;
        left: calc(25% + 2px);
      }
    }

    .nav-overlay {
      transform: scale3d(1, 1, 1);
    }

    .navigation {
      visibility: visible;
      opacity: 1;

      .main-menu {
        ul li {
          @for $i from 1 to 5 {
            &:nth-child(#{$i}) {
              opacity: 1;
              transform: translateX(0);
              transition: transform 300ms $i*150ms, opacity 300ms $i*150ms;
            }
          }
        }
      }

      .toggle {
        margin-bottom: 1rem;
        opacity: 1;
        transform: translateY(0);
        transition: all 300ms 750ms;
      }
    }
  }

  @media screen and (min-width: $size-screen-s) {
    position: fixed;
    display: block;
    right: 0;
    top: 0;
    width: 100%;
    border-radius: inherit;
    border-bottom: 1px solid var(--color-grey-4);

    &.open .navigation .toggle,
    .navigation .toggle{
      margin-bottom: 0;
    }
  }
}
