@import "../../styles/variables.scss";

.map-container {
  width: 100%;
  height: 25rem;
  margin-top: 5rem;
  border: .1rem solid var(--color-grey-4);

  .map {
    width: 100%;
    height: 100%;

    .mapboxgl-marker {
      svg path {
        fill: var(--color-primary);
      }
    }
  }

  @media screen and (min-width: $size-screen-l) {
    margin-top: 0;
    height: 100%;
  }
}
